body {
  background-color: #5d94f9;
  font-family: 'Press Start 2P', cursive;
}

.mario {
  height: 100%;
}

.game-container {
  display: flex;
  flex-direction: column;
}

.chat-bubble {

}

.shell {
  margin-top: 100px;
}

.white {
  background-color: white;
  width: 15px;
  height: 15px;
}

.green {
  background-color: #0f7f12;
  width: 15px;
  height: 15px;
}

table {
  border-collapse: collapse;
}

.red {
  background-color: #cc4b09;
  width: 15px;
  height: 15px;
}

.green {
  background-color: #0f7f12;
}

.orange {
  background-color: #fc9843;
  width: 15px;
  height: 15px;
}

.brown {
  background-color: #986809;
  width: 15px;
  height: 15px;
}

.black {
  background-color: black;
  width: 15px;
  height: 15px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5em;
}

.main {
  display: flex;
  flex-direction: column;
}

.main input {
  height: 30px;
  font-size: .7em;
  border-radius: 5px;
  border: none;
}

.main ul {
  list-style: none;
}

body a {
  color: white;
}

.input-output {
  display: flex;
  flex-direction: column;
  margin: 3em 3em;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

button {
  border-radius: 5px;
  border: none;
  background-color: #1c92d2;
  color: white;
  width: 70px;
  height: 30px;
}

.hidden-word {
  font-size: 3em;
  font-weight: lighter;
}
